<div class="container">
  <div class="row justify-content-center">
    <h2>退会しますか？</h2>
  </div>
  <div class="row justify-content-center">
    <p>
      現在使用しているアカウントの情報や投稿は削除されますので<br>
      ご注意ください
    </p>
  </div>
  <div class="row justify-content-center">
    <%= link_to "退会する", end_user_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？" %>
    <%= link_to '退会しない', end_user_path(current_end_user) %>
  </div>
</div>

