// Place all the styles related to the public/end_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.images{
  display: flex;
  flex-wrap: wrap
}
.tweet_image{
  width: 25%
}

.form_profile_image {
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.account-edit {
  min-height: calc(100vh - 75px);
  background-color:#DDDDDD;
}

label + input[type="radio"],
label + label {
	margin-left: 2em;
}

.cover-end_user-index {
  min-height: calc(100vh - 30px);
  background-image: image-url('3824847_m.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

