<h1>Drive spot</h1>
<P>おすすめのドライブスポットを共有しよう!</P>
<p><%= link_to '新規登録', new_end_user_registration_path, class: "btn btn-primary" %></p>
<P><%= link_to 'ログイン', new_end_user_session_path, class: "btn btn-primary" %></p>

