/*
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.navbar-nav {
  width: 30%;
  place-content: space-between;
}

.navbar-item {
  color: #ffffff;
  width: 100%;
}

body {
  height: 100vh;
}

.nav-item{
  padding-top: 15px;
}

